.Cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background-color: var(--preto);
}

nav{
    margin: 8px;
}


@media screen and (max-width: 1020px) {
    .Cabecalho {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: var(--preto);
    }
}